* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    width: 1200px;
    min-height: 650px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.bird {
    position: absolute;
    left: calc(50% - 30px);
    width: 60px;
}

.obstacle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100%;
}

.tube {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tube .head {
    width: 130px;
    height: 30px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid black;
}

.tube .body {
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.score {
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: 'Pixel';
    font-size: 56px;
}