<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>If & For</title>
  <link rel="stylesheet" href="/css/estilo.css">
  <script src="/js/vue.min.js"></script>
</head>

<body class="exercicio">
  <div id="app">
    <p v-for="(student, index) in students">
      {{ index + 1 }}) {{ student.name }} - {{ student.grade }}
      <span v-if="student.grade >= 7"> - Aprovado</span>
      <span v-else-if="student.grade >= 3"> - Recuperação</span>
      <span v-else> - Reprovado</span>
    </p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        students: [{
            name: 'Ana',
            grade: 7.8
          },
          {
            name: 'Bia',
            grade: 9.1
          },
          {
            name: 'Carlos',
            grade: 6.8
          },
          {
            name: 'Daniel',
            grade: 2.8
          }
        ]
      }
    })
  </script>
</body>

</html>